<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <a th:href="@{/}">На главную страницу</a>
    <meta charset="UTF-8">
    <title>electro-shop</title>
</head>
<body>

<h1>electro-shop</h1>
<table>
    <tr>
        <th> Id</th>
        <th>electroItemId</th>
        <th>count</th>
    </tr>
    <tr th:each="el: ${electroShopLst}" >
        <td th:text="${el.shopId}"></td>
        <td th:text="${el.electroItemId}"></td>
        <td th:text="${el.count}"></td>
    </tr>
</table>

<div>
    <span th:text="'Page ' + ${currentPage} + ' of ' + ${totalPages}"></span>
    <ul>
        <li th:each="i : ${#numbers.sequence(1, totalPages)}">
            <a th:href="@{/electro-shop(page=${i}, size=${size})}" th:text="${i}"></a>
        </li>
    </ul>
</div>


</body>
</html>