<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <a th:href="@{/}">На главную страницу</a>
    <meta charset="UTF-8">
    <title>electro-employee</title>
</head>
<body>

<h1>electro-employee</h1>
<div th:if="${itemLst != null and !itemLst.isEmpty()}">
    <table>
        <tr>
            <th> Id</th>
            <th>Type</th>
        </tr>
        <tr th:each="el: ${itemLst}">
            <td th:text="${el.employeeId}"></td>
            <td th:text="${el.electroTypeId}"></td>
        </tr>
    </table>

    <div>
        <span th:text="'Page ' + ${currentPage} + ' of ' + ${totalPages}"></span>
        <ul>
            <li th:each="i : ${#numbers.sequence(1, totalPages)}">
                <a th:href="@{/electro-employee(page=${i}, size=${size})}" th:text="${i}"></a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>