<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>E-Store</title>
</head>

<body>
<h1>Welcome to E-Store</h1>

<h2>Разделы:</h2>

<a th:href="@{/electro-items(page=1, size=10)}">Электротовары</a>
<a th:href="@{/purchases}">Покупки</a>
<a th:href="@{/employees}">Сотрудники</a>

<h2>Справочники:</h2>

<a th:href="@{/position-types}">Должности</a>
<a th:href="@{/electro-types}">Типы электротоваров</a>
<a th:href="@{/shops}">Магазины</a>
<a th:href="@{/purchase-types}">Типы покупок</a>

<h2>Таблицы-связи:</h2>

<a th:href="@{/electro-employee}">Связь: тип электротовара - сотрудник</a>
<a th:href="@{/electro-shop}">Связь: магазин - товар</a>
<a>  </a>
<h3>Импорт данных из zip архива.</h3>
<a>В архиве должны быть только csv таблицы в кодировке UTF-8</a>
<form method="post" enctype="multipart/form-data" th:action="@{/}">
    <input type="file" name="file" accept=".zip" required />
    <button type="submit">Загрузить</button>
</form>
<div th:if="${message}"><p th:text="${message}"></p></div>
</body>
</html>