<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>E-Store</title>
</head>

<body>
<h1>Welcome to E-Store</h1>

<h2>Разделы:</h2>

<a th:href="@{/electro-items}">Электротовары</a>
<a th:href="@{/purchases}">Покупки</a>
<a th:href="@{/employees}">Сотрудники</a>

<h2>Справочники:</h2>

<a th:href="@{/position-types}">Должности</a>
<a th:href="@{/electro-types}">Типы электротоваров</a>
<a th:href="@{/shops}">Магазины</a>
<a th:href="@{/purchase-types}">Типы покупок</a>
</body>
</html>