<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <a th:href="@{/}">На главную страницу</a>
    <meta charset="UTF-8">
    <title>Типы Электротоваров</title>
</head>
<body>
<h1>Список Типов Электротоваров</h1>
<div th:if="${itemLst != null and !itemLst.isEmpty()}">
    <table>
        <tr>
            <th>Product Id</th>
            <th>Product Name</th>
        </tr>
        <tr th:each="el: ${itemLst}">
            <td th:text="${el.id}"></td>
            <td th:text="${el.name}"></td>
        </tr>
    </table>

    <div>
        <span th:text="'Page ' + ${currentPage} + ' of ' + ${totalPages}"></span>
        <ul>
            <li th:each="i : ${#numbers.sequence(1, totalPages)}">
                <a th:href="@{/electro-types(page=${i}, size=${size})}" th:text="${i}"></a>
            </li>
        </ul>
    </div>
</div>
<h2>Импорт данных из csv файла</h2>
<a>таблица должна быть в кодировке UTF-8</a>
<form method="post" enctype="multipart/form-data" th:action="@{/electro-types}">
    <input type="file" name="file" accept=".csv" required/>
    <button type="submit">Загрузить</button>
</form>
<div th:if="${message}"><p th:text="${message}"></p></div>
</body>
</html>